<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
  <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">

    <h2 class="text-2xl font-semibold text-center mb-6">
      Login to your account
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-5">

      <!-- Email -->
      <div class="flex flex-col gap-2">
        <label class="font-medium">Email</label>
        <input pInputText type="email" formControlName="email" placeholder="test@gmail.com" class="w-full" />

        @if (email?.touched && email?.invalid) {
        <small class="text-red-500">
          @if (email?.errors?.['required']) {
          Email is required
          }
          @if (email?.errors?.['email']) {
          Please enter a valid email
          }
        </small>
        }
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-2">
        <label class="font-medium">Password</label>

        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" styleClass="w-full"
          inputStyleClass="w-full" placeholder="test1234">
        </p-password>

        @if (password?.touched && password?.invalid) {
        <small class="text-red-500">
          @if (password?.errors?.['required']) {
          Password is required
          }
          @if (password?.errors?.['minlength']) {
          Minimum 6 characters required
          }
        </small>
        }
      </div>

      <!-- Submit Button -->
      <button pButton type="submit" label="Login" class="w-full"></button>

    </form>

    <div class="text-center mt-6 text-sm">
      You don't have an account?
      <a routerLink="/auth/signup" class="text-blue-600 hover:underline font-medium"> Signup </a>
    </div>

  </div>
</div>
