/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";


/* Header navbar */
:host ::ng-deep .p-menubar {
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-menubar-start {
  flex: 1;
}

:host ::ng-deep .p-menubar-root-list {
  flex: 1;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-menubar-end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
