/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";


/* Header navbar */
.p-menubar-root-list {
  @apply !ml-auto;
}

.p-menubar-end {
  @apply hidden;
}

@media(max-width:960px) {
  .p-menubar-mobile .p-menubar-button {
    @apply ml-auto
  }

}
